<%provide :title, "Tours"%>
<% [:info, :error].each do |key| %>
  <% if flash[key] %>
    <div class="<%= key %>" id="flash">
      <%= flash[key] %>
    </div>
  <% end %>
<% end %>
<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title">Our Tours</h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Our Tours</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url(assets/Bale.jpg);"></div>
  </div>
</section>
<div class="site-section">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-3 sidebar ftco-animate">
        <div class="sidebar-wrap bg-light ftco-animate">
          <h3 class="heading mb-4">Find City</h3>
          <form action="#">
            <div class="fields">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination, City">
              </div>
              <div class="form-group">
                <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control" placeholder="Keyword search">
                    <option value="">Select Location</option>
                    <option value="">San Francisco USA</option>
                    <option value="">Berlin Germany</option>
                    <option value="">Lodon United Kingdom</option>
                    <option value="">Paris Italy</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" id="checkin_date" class="form-control" placeholder="Date from">
              </div>
              <div class="form-group">
                <input type="text" id="checkin_date" class="form-control" placeholder="Date to">
              </div>
              <div class="form-group">
                <div class="range-slider">
                  <span>
                    <input type="number" value="25000" min="0" max="120000" /> -
                    <input type="number" value="50000" min="0" max="120000" />
                  </span>
                  <input value="1000" min="0" max="120000" step="500" type="range" />
                  <input value="50000" min="0" max="120000" step="500" type="range" />
                </svg>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
            </div>
          </div>
        </form>
      </div>
      <div class="sidebar-wrap bg-light ftco-animate">
        <h3 class="heading mb-4">Star Rating</h3>
        <form method="post" class="star-rating">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
        </form>
      </div>
    </div> -->
    <div class="container mt-5">
      <h2>Featured Tours</h2>
      <div class="row">
        <%@featured_tours.each do |tour|%>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="card ">
            <a  class="unit-1 text-center">
              <% if tour.medias.attached? %>
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active"> 
                      <%= image_tag tour.medias[0], :class => "img-fluid" %>
                    </div>
                    <% tour.medias.drop(1).each do |illustration| %>
                      <div class="carousel-item">
                        <%= image_tag(illustration, :class => "img-fluid") %>
                      </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </a>
            <div class="text p-2">
              <div class="d-flex">
                <div class="one">
                  <h3 class="card-title text-capitalize"><%= link_to tour.tour_title, tour_path(tour)%></h3>
                  <div class="group-sm group-middle justify-content-start mt-0">
                                    <p class="font-weight-bold mt-0"><span><i class="icon-map-o"></i> <%= tour.destination.city.html_safe%>, <%= tour.destination.country.html_safe%></span></p>

                    <div class="product-big-rating "><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div>
                    <a class="product-big-reviews" href="#"><%= Random.rand(50...100) %> customer reviews</a>
                  </div>
                </div>
              </div>
              <p class="mt-1"><%= tour.desciption.truncate(256).html_safe%></p>
              <p class="days"><span><%= tour.tour_duration.html_safe%></span></p>
              <hr>
              <p class="bottom-area d-flex ">
                <%# <div class="text-muted bg-transparent"> %>
                <span  class="font-weight-bold btn">$<%= tour.tour_price_range.html_safe%></span>
                <span class="ml-auto "><%= link_to "Book Now", tour_path(tour), class: "btn"%></span>
                <%# </div> %>
              </p>
            </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="container mt-5 ">
      <h2>Other Tours</h2>
      <div class="row">
        <%@other_tours.each do |tour|%>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
          <div class="card">
            <a class="unit-1 text-center">
              <% if tour.medias.attached? %>
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag tour.medias[0], :class => "img-fluid" %>
                    </div>
                    <% tour.medias.drop(1).each do |illustration| %>
                      <div class="carousel-item">
                        <%= image_tag(illustration, :class => "img-fluid") %>
                      </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </a>
            <div class="text p-3">
              <div class="d-flex">
                <div class="one">
                  <h3 class="card-title text-capitalize"><%= link_to tour.tour_title, tour_path(tour)%></h3>
                  <div class="group-sm group-middle justify-content-start mt-0">
                                    <p class="font-weight-bold mt-0"><span><i class="icon-map-o"></i> <%= tour.destination.city.html_safe%>, <%= tour.destination.country.html_safe%></span></p>

                    <div class="product-big-rating "><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div>
                    <a class="product-big-reviews" href="#"><%= Random.rand(50...100) %> customer reviews</a>
                  </div>
                </div>
              </div>
              <p class="mt-1"><%= tour.desciption.truncate(256).html_safe%></p>
            <p class="days"><span><%= tour.tour_duration.html_safe%></span></p>
            <hr>
            <p class="bottom-area d-flex">
              <span  class="font-weight-bold btn">$<%= tour.tour_price_range.html_safe%></span>
              <span class="ml-auto"><%= link_to "Book Now", tour_path(tour), class: "btn"%></span>
            </p>
          </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>
