<%provide :title, "Home"%>
<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
<!-- start of hero -->
<div id="carouselExampleControls" class="carousel slide " data-ride="carousel" style="max-height:1000px; " data-interval="2000">
  <div class="carousel-inner">
    <div class="carousel-item active parallax" style="background-image: url('<%= asset_path("fasil.jpg")%>'); height:600px;" >
      <%# <img class="d-block w-100" src="assets/fasil.jpg" alt="First slide" style="max-height:500px; object-fit: cover;"> %>
      <div class="carousel-caption d-none d-md-block col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light">Never Stop Exploring</h1>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est inventore ducimus
          repudiandae.</p>
        <p><a href="/tours" class="btn btn-primary py-3 px-5 ">Book Now!</a></p>
      </div>
    </div>
    <div class="carousel-item parallax" style="background-image: url('<%= asset_path("Bale.jpg")%>'); height:600px;">
      <%# <img class="d-block w-100" src="assets/Bale.jpg" alt="Second slide" style="max-height:500px; object-fit: cover;"> %>
      <div class="carousel-caption d-none d-md-block col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light">Love The Places</h1>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est inventore ducimus
          repudiandae.</p>
        <p><a href="#" class="btn btn-primary py-3 px-5">Book Now!</a></p>
      </div>
    </div>
    <div class="carousel-item parallax" style="background-image: url('<%= asset_path("Lalibela2.jpg")%>');  height:600px;">
      <%# <img class="d-block w-100" src="assets/Lalibela2.jpg" alt="Third slide" style="max-height:500px; object-fit: cover;"> %>
      <div class="carousel-caption d-none d-md-block col-md-8" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white font-weight-light">Love The Places</h1>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga est inventore ducimus
          repudiandae.</p>
        <p><a href="#" class="btn btn-primary py-3 px-5 ">Book Now!</a></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- end of hero slider -->
<!-- Section Box Categories-->
<section class="section section-lg section-top-1 bg-gray-4">
  <div class="container offset-negative-1">
    <div class="box-categories cta-box-wrap">
      <div class="box-categories-content">
        <div class="row justify-content-center">
          <% @home_tour.each do |tour|%>
            <div class="col-md-4 wow fadeInDown col-9" data-wow-delay=".2s">
              <ul class="list-marked-2 box-categories-list">
                <li>
                  <a href="<%= tour_path(tour) %>"><%= image_tag tour.medias[0],class:"img-fluid", style:"height:420px"%></a>
                  <h5 class="box-categories-title"><%= tour.tour_title %></h5>
                </li>
              </ul>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <a class="link-classic wow fadeInUp" href="/tours">Other Tours<span></span></a>
    <!-- Owl Carousel-->
  </div>
</section>
<!-- Discover New Horizons-->
<section class="section section-sm section-first bg-default text-md-left">
  <div class="container">
    <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
      <div class="col-lg-6 text-center wow fadeInUp"><%= image_tag @company_information.medias, style:"hegiht:400px" %>
      </div>
      <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
        <div class="box-width-lg-470">
          <h3>Discover New Horizons</h3>
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab">About us</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab">our vision</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab">Our mission</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-7-1">
                <p><%= @company_information.about_us.html_safe %></p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact">Get in Touch</a><a class="button button-black-outline button-md" href="/about">Read More</a></div>
              </div>
              <div class="tab-pane fade" id="tabs-7-2">
                <p><%= @company_information.vision.html_safe %></p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact">Get in Touch</a><a class="button button-black-outline button-md" href="/about">Read More</a></div>
              </div>
              <div class="tab-pane fade" id="tabs-7-3">
                <p><%= @company_information.mission.html_safe %></p>
                <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="/contact">Get in Touch</a><a class="button button-black-outline button-md" href="/about">Read More</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-sm bg-gray-2 parallax" style="background-image: url('<%= asset_path("Bale.jpg")%>');">
  <div class="container ">
    <h3 class="text-white">Our Services</h3>
    <div class="row row-30">
      <% @services.each do |service|%>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fl-bigmug-line-equalization3"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><%= service.service_name.html_safe  %></h5>
                <p class="box-icon-classic-text"><%= service.service_description.truncate(256).html_safe %></p>
              </div>
            </div>
          </article>
        </div>
      <%end%>
    </div>
  </div>
</section>
<section class="section section-sm bg-default">
  <div class="container">
    <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Hot Tours</span></h3>
    <div class="row row-sm row-40 row-md-50">
      <% @tours.where(tour_display_on_homepage_priority: "High").each do |tour|%>
        <div class="col-sm-6 col-md-12 wow fadeInRight">
          <!-- Product Big-->
          <article class="product-big">
            <div class="unit flex-column flex-md-row align-items-md-stretch">
              <div class="unit-left"><a class="product-big-figure" href="#"><%= image_tag tour.medias[0], style:"height:366" %></a></div>
              <div class="unit-body">
                <div class="product-big-body">
                  <h5 class="product-big-title"><a href="#"><%= tour.tour_title.html_safe %></a></h5>
                  <div class="group-sm group-middle justify-content-start">
                    <div class="product-big-rating"><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div>
                    <a class="product-big-reviews" href="#"><%= Random.rand(50...100) %> customer reviews</a>
                  </div>
                  <p class="product-big-text"><%= tour.desciption.truncate(256).html_safe %></p>
                  <%= link_to 'Read More', tour_path(tour), class:"button button-black-outline button-ujarak"%>
                  <%# <a class="button button-black-outline button-ujarak" href="#">Read More</a> %>
                  <div class="product-big-price-wrap"><span class="product-big-price">$<%= tour.tour_price_range.html_safe %></span></div>
                </div>
              </div>
            </div>
          </article>
        </div>
      <% end%>
    </div>
  </div>
</section>
<section class="section section-sm bg-gray-2 parallax" style="background-image: url('<%= asset_path("fasil.jpg")%>');">
  <div class="container">
    <h3 class="text-white">Our blogs</h3>
    <div class="row row-30">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @posts.each do |blog|%>
          <div class="col-md-4">
            <div class="card">
              <%= image_tag blog.medias[0], class:"card-img-top img-fluid" , style:"height:200px;"%>
              <div class="card-body">
                <%= link_to post_path(blog) do %>
                  <h4 class="card-title"><%= blog.post_title.html_safe %></h4>
                <%end%>
                <span class="card-text text-muted"><%= Date.parse(blog.created_at.to_s).strftime('%A')%>, <%= Date.parse(blog.created_at.to_s).to_formatted_s(:long)%></span>
                <span class="card-text text-muted">Author: <%= blog.author_name %></span>
                <p class="card-text"><%= blog.body.truncate(200).html_safe %></p>
                <%= link_to 'Read More', post_path(blog), class:"button button-black-outline button-ujarak"%>
              </div>
            </div>
          </div>
        <%end%>
        <div class="col mt-3 text-center">
          <p><%= link_to 'More blogs', posts_path , class:"btn btn-primary py-3 px-5"%></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-sm">
  <div class="container">
    <h3 class="title-block find-car oh"><span class="d-inline-block wow slideInUp">Our Partners</span></h3>
    <div class="row row-30 justify-content-center box-ordered">
      <% @partners.each do |partner|%>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Team Modern-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><%= image_tag partner.image,class:"img-circles", style:"height:118; width:118;"  %></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70" xml:space="preserve">
                <g>
                  <path fill="#161616" d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#"><%= partner.partner_name.html_safe %></a></h6>
            </div>
          </article>
        </div>
      <%end%>
    </div>
  </div>
</section>
<!-- Section Subscribe-->
<section class="section bg-default text-center offset-top-50">
  <div class="parallax-container" data-parallax-img="assets/Lalibela2.jpg">
    <div class="parallax-content parallax section-xl section-inset-custom-1 context-dark bg-overlay-2-21" style="background-image: url('<%= asset_path("Lalibela2.jpg")%>');">
      <div class="container">
        <h2 class="heading-2 oh font-weight-normal wow slideInDown"><span class="d-block font-weight-semi-bold">First-class Impressions</span><span class="d-block font-weight-light">are Waiting for You!</span></h2>
        <p class="text-width-medium text-spacing-75 wow fadeInLeft" data-wow-delay=".1s">Our agency offers travelers various tours and excursions with destinations all over the world. Browse our website to find your dream tour!</p>
        <a class="button button-secondary button-pipaluk" href="/tours">Book a Tour Now</a>
      </div>
    </div>
  </div>
</section>
