<%provide :title, "#{@post.post_title}"%>
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title"><%= @post.post_title.html_safe %></h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Our Blogs</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url(<%= rails_blob_url(@post.medias[0])%>);"></div>
  </div>
</section>
<section id="blog" class="blog mt-5">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <%# <% @post do |n|%>
          <article class="entry">
            <a href="#" class="unit-1 text-center">
              <% if @post.medias.attached? %>
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" style="height:400px; " data-interval="1500"> 
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag @post.medias[0], :class => "img-fluid", style:"height:400px;" %>
                    </div>
                    <% @post.medias.drop(1).each do |illustration| %>
                      <div class="carousel-item">
                        <%= image_tag(illustration, :class => "img-fluid", style:"height:400px;") %>
                      </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </a>
            <h2 class="entry-title mt-2">
              <div style= "color :#0975b8"><%= @post.post_title.html_safe%></div>
            </h2>
            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="blog-single.html">By: <%= @post.author_name%></a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <%= Date.parse(@post.created_at.to_s).strftime('%A')%>, <%= Date.parse(@post.created_at.to_s).to_formatted_s(:long)%></li>
              </ul>
            </div>
            <div class="entry-content">
              <p><%= @post.body.html_safe%></p>
            </div>
          </article>
          <%# <% end %>
        </div>
        <div class="col-lg-4">
          <section id="course-details" class="course-details">
            <div class="" data-aos="fade-up">
              <div class="course-infot d-flex justify-content-between align-items-center">
                <h3 class="text-white">Recent Posts</h3>
              </div>
              <%@posts.each do |post|%>
                <div class="course-info d-flex justify-content-between align-items-center">
                  <h6><%= link_to post.post_title,post_path(post)%></h6>
                  <p><%= post.post_type %></p>
                  <span><%= Date.parse(post.created_at.to_s).strftime('%A')%>,<%= Date.parse(post.created_at.to_s).to_formatted_s(:long)%></span>
                </div>
              <%end%>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
