<%provide :title, "Destination"%>
<!-- Breadcrumbs -->
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title">Destinations</h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li class="active">Destinations</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url(assets/lalibela2.jpg);"></div>
  </div>
</section>
<div class="site-section">
  <!--==================---->
  <!--==================---->
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <h2 class="font-weight-light text-black">Our Destinations</h2>
        <p class="color-black-opacity-5">Choose Your Next Destination</p>
      </div>
    </div>
    <div class="row">
      <%@destinations.each do |destination|%>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 p-3">
        <div class="card ">
          <a href="#" class="unit-1 text-center">
            <% if destination.medias.attached? %>
              <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" style="height:400px; ">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag destination.medias[0], :class => "img-fluid", style:"height:400px;" %>
                  </div>
                  <% destination.medias.drop(1).each do |illustration| %>
                    <div class="carousel-item">
                      <%= image_tag(illustration, :class => "img-fluid", style:"height:400px;") %>
                    </div>
                  <%end%>
                </div>
              </div>
            <%end%>
          </a>
          <div class="text p-3">
            <h3><a href="#"><%= link_to destination.destination_name, destination_path(destination)%>, <%= destination.country%></a></h3>
            <span class="listing"><%= destination.tours.count%> Listed Tours</span>
          </div>
          </div>
        </div>
      <%end%>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <%= paginate @destinations %>
          <%= page_entries_info @destinations %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
     <div class="row">
      <div class="col-lg-3 sidebar ftco-animate">
        <div class="sidebar-wrap bg-light ftco-animate">
          <h3 class="heading mb-4">Find City</h3>
          <form action="#">
            <div class="fields">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination, City">
              </div>
              <div class="form-group">
                <div class="select-wrap one-third">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select name="" id="" class="form-control" placeholder="Keyword search">
                    <option value="">Select Location</option>
                    <option value="">San Francisco USA</option>
                    <option value="">Berlin Germany</option>
                    <option value="">Lodon United Kingdom</option>
                    <option value="">Paris Italy</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" id="checkin_date" class="form-control" placeholder="Date from">
              </div>
              <div class="form-group">
                <input type="text" id="checkin_date" class="form-control" placeholder="Date to">
              </div>
              <div class="form-group">
                <div class="range-slider">
                  <span>
                    <input type="number" value="25000" min="0" max="120000" /> -
                    <input type="number" value="50000" min="0" max="120000" />
                  </span>
                  <input value="1000" min="0" max="120000" step="500" type="range" />
                  <input value="50000" min="0" max="120000" step="500" type="range" />
                </svg>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
            </div>
          </div>
        </form>
      </div>
      <div class="sidebar-wrap bg-light ftco-animate">
        <h3 class="heading mb-4">Star Rating</h3>
        <form method="post" class="star-rating">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">
              <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
            </label>
          </div>
        </form>
      </div>
    </div> 
    <div class="col-lg-12">
      <div class="row">
        <% @destinations.each do |destination|%>
            <div class="col-md-3">
              <div class="destination">
                <%= link_to destination_path(destination), class: "img d-flex justify-content-center align-items-center", style:"background-image: url(#{rails_blob_url(destination.medias[0])});" do%>
                  <div class="icon d-flex justify-content-center align-items-center">
                    <span class="icon-search2"></span>
                  </div>
                <%end%>
                <div class="text p-3">
                  <h3><a href="#"><%= link_to destination.destination_name, destination_path(destination)%>, <%= destination.country%></a></h3>
                  <span class="listing"><%= destination.tours.count%> Listed Tours</span>
                </div>
              </div>
            </div>
        <%end%>
       
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <%= paginate @destinations %> 
            <%= page_entries_info @destinations %>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>-->
</section>
