<%provide :title, "#{@destination.destination_name}"%>
<section class="breadcrumbs-custom-inset">
  <div class="breadcrumbs-custom context-dark bg-overlay-60">
    <div class="container">
      <h2 class="breadcrumbs-custom-title"><%= @destination.destination_name.html_safe %></h2>
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active">Our Destinations</li>
      </ul>
    </div>
    <div class="box-position" style="background-image: url(<%= rails_blob_url(@destination.medias[0])%>);"></div>
  </div>
</section>
<section id="blog" class="blog mt-5">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries p-0">
        <%# <% @post do |n|%>
          <article class="entry p-0">
            <a href="#" class="unit-1 text-center">
              <% if @destination.medias.attached? %>
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" style="height:400px; " data-interval="1500">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag @destination.medias[0], :class => "img img-fluid", style:"height:400px;" %>
                    </div>
                    <% @destination.medias.drop(1).each do |illustration| %>
                      <div class="carousel-item">
                        <%= image_tag(illustration, :class => "img img-fluid", style:"height:400px;") %>
                      </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </a>
            <div class="p-3">
              <h2 class="entry-title mt-2">
                <div style= "color :#0975b8"><%= @destination.destination_name.html_safe%></div>
              </h2>
              <div class="entry-meta">
                <ul>
                  <li>
                    <p class="font-weight-bold"><span><i class="icon-map-o"></i> <%= @destination.city.html_safe%>, <%= @destination.country.html_safe%></span></p>
                  </li>
                  <li>             <span class="star">
                      <%= @destination.tours.count%> listed tours
                    </span></li>
                </ul>
                <div class="group-sm group-middle justify-content-start mt-2">
                  <div class="product-big-rating"><span class="icon material-icons-star"></span></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div>
                <a class="product-big-reviews" ><%= Random.rand(50...100) %> customer reviews</a>
              </div>
              <div class="entry-content">
                <p><%= @destination.destination_description.html_safe%></p>
              </div>
            </div>
          </article>
          <%# <% end %>
        </div>
        <div class="col-lg-4 pl-5">
          <section id="course-details" class="course-details">
            <div class="" data-aos="fade-up">
              <div class="course-infot d-flex justify-content-between align-items-center">
                <h3 class="text-white">Recent Posts</h3>
              </div>
              <%@posts.each do |post|%>
                <div class="course-info d-flex justify-content-between align-items-center">
                  <h6><%= link_to post.post_title,post_path(post)%></h6>
                  <p><%= post.post_type %></p>
                  <span><%= Date.parse(post.created_at.to_s).strftime('%A')%>,<%= Date.parse(post.created_at.to_s).to_formatted_s(:long)%></span>
                </div>
              <%end%>
            </div>
            <div>
              <div class="course-infot">
                <h3 class="text-white">Location On Map</h3>
              </div>
              <div>
                <iframe class="mb-4 mb-lg-0" src="<%= @destination.map_embed_link %>" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mt-5 parallax p-5" style="background-image: url(<%= rails_blob_url(@destination.medias[1])%>);">
      <h2 class="text-white">Destination Tours</h2>
      <div class="row">
        <%@destination.tours.each do |tour|%>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 p-2">
            <div class="card">
              <a  class="unit-1 text-center">
                <% if tour.medias.attached? %>
                  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <%= image_tag tour.medias[0], :class => "img-fluid"%>
                      </div>
                      <% tour.medias.drop(1).each do |illustration| %>
                        <div class="carousel-item">
                          <%= image_tag(illustration, :class => "img-fluid") %>
                        </div>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              </a>
              <div class="text p-2">
                <div class="d-flex">
                  <div class="one">
                    <h3 class="card-title text-capitalize"><%= link_to tour.tour_title, tour_path(tour)%></h3>
                    <div class="group-sm group-middle justify-content-start mt-0">
                      <p class="font-weight-bold mt-0"><span><i class="icon-map-o"></i> <%= tour.destination.city.html_safe%>, <%= tour.destination.country.html_safe%></span></p>
                      <div class="product-big-rating "><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star"></span><span class="icon material-icons-star_half"></span></div>
                      <a class="product-big-reviews" href="#"><%= Random.rand(50...100) %> customer reviews</a>
                    </div>
                  </div>
                </div>
                <p class="mt-1"><%= tour.desciption.truncate(256).html_safe%></p>
                <p class="days"><span><%= tour.tour_duration.html_safe%></span></p>
                <hr>
                <p class="bottom-area d-flex">
                  <span  class="font-weight-bold btn">$<%= tour.tour_price_range.html_safe%></span>
                  <span class="ml-auto"><%= link_to "Book Now", tour_path(tour), class: "btn"%></span>
                </p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </section>
